@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.name {
  padding: 2em 0em;
  background-color: #303030;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.8);
}
.name .name-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name .name-info .name-content {
  max-width: fit-content;
  font-size: 3em;
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.name .name-info .job {
  letter-spacing: 1ch;
  margin: 0.65em 0em;
  font-weight: 400;
  color: #bbbaba;
  text-transform: uppercase;
}
.name .icon {
  width: 20px;
  height: 20px;
}
.name .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 1em;
}
.name .icons li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name .icons li span {
  font-family: "Nunito", sans-serif;
}

.info {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: -2em;
  border-top: 1px solid rgba(255, 255, 255, 0.5803921569);
  width: 100%;
  color: #fff;
}
.info .contact-list {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.info .contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.perfil {
  padding: 1em 0em;
  max-width: 1300px;
  margin: 4em auto;
}
.perfil .dados {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
}
.perfil .dados h2 {
  margin-bottom: 1em;
  font-family: "Nunito", sans-serif;
}
.perfil .dados h2::before {
  content: url(../assets/user.svg);
  padding-right: 1em;
}
.perfil .dados span {
  letter-spacing: 1px;
  line-height: 1.4;
}
.perfil .experiencia {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
}
.perfil .experiencia h2 {
  margin-bottom: 1em;
  font-family: "Nunito", sans-serif;
}
.perfil .experiencia h2::before {
  content: url(../assets/experiencia.svg);
  padding-right: 1em;
}
.perfil .experiencia span {
  letter-spacing: 1px;
  line-height: 1.4;
}

.role {
  font-weight: bold;
  font-size: 14px;
}

.tempo {
  font-weight: 200;
  font-size: 14px;
  color: #5c5c5c;
}

.paragrafo {
  margin-top: 0.5em;
  letter-spacing: 1px;
  line-height: 1.4;
}

.formacao {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
}
.formacao .escola {
  font-weight: bold;
  font-size: 17px;
  margin-top: 1em;
}
.formacao .periodo {
  font-size: 15px;
  color: #5c5c5c;
}
.formacao h2 {
  margin-bottom: 1em;
  font-family: "Nunito", sans-serif;
}
.formacao h2::before {
  content: url(../assets/formacao.svg);
  padding-right: 1em;
}
.formacao span {
  letter-spacing: 1px;
  line-height: 1.4;
}

.cursos {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
}
.cursos h2 {
  font-family: "Nunito", sans-serif;
}
.cursos h2::before {
  content: url(../assets/book.svg);
  padding-right: 1em;
}
.cursos span {
  font-weight: bold;
}
.cursos .cursos-item {
  margin-top: 1.5em;
}

.competencias {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
}
.competencias h2 {
  margin-bottom: 1em;
  font-family: "Nunito", sans-serif;
}
.competencias h2::before {
  content: url(../assets/code.svg);
  padding-right: 1em;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills .skills-item {
  padding: 1em 0em;
  display: flex;
  align-items: center;
}
.skills .js::after {
  content: url(../assets/js.svg);
  padding-left: 1em;
}
.skills .ts::after {
  content: url(../assets/typescript.svg);
  padding-left: 1em;
}
.skills .angular::after {
  content: url(../assets/angular.svg);
  padding-left: 1em;
}
.skills .git::after {
  content: url(../assets/git.svg);
  padding-left: 1em;
}
.skills .html5::after {
  content: url(../assets/html.svg);
  padding-left: 1em;
}
.skills .css::after {
  content: url(../assets/css3.svg);
  padding-left: 1em;
}
.skills .sass::after {
  content: url(../assets/sass.svg);
  padding-left: 1em;
}
.skills .bootstrap::after {
  content: url(../assets/bootstrap.svg);
  padding-left: 1em;
}

.links {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
}
.links h2 {
  margin-bottom: 1em;
  font-family: "Nunito", sans-serif;
}
.links h2::before {
  content: url(../assets/link.svg);
  padding-right: 1em;
}

.icon-link {
  width: 30px;
  height: 30px;
}

.link-text {
  color: #222;
}

.link-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link-item > a {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
}

.name {
  padding: 2em 0em;
  background-color: #303030;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.8);
}
.name .name-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name .name-info .name-content {
  max-width: fit-content;
  font-size: 3em;
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.name .name-info .job {
  letter-spacing: 1ch;
  margin: 0.65em 0em;
  font-weight: 400;
  color: #bbbaba;
  text-transform: uppercase;
}
.name .icon {
  width: 20px;
  height: 20px;
}
.name .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 1em;
}
.name .icons li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name .icons li span {
  font-family: "Nunito", sans-serif;
}

.info {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: -2em;
  border-top: 1px solid rgba(255, 255, 255, 0.5803921569);
  width: 100%;
  color: #fff;
}
.info .contact-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.info .contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

/*# sourceMappingURL=tela.css.map */
