.perfil {
  padding: 1em 0em;
  max-width: 1300px;
  margin: 4em auto;
  .dados {
    padding: 1em 0em;
    border-bottom: 1px solid #d0d0d3;
    margin-bottom: 2em;
    h2 {
      margin-bottom: 1em;

      @include font-h2();
      &::before {
        content: url(../assets/user.svg);
        padding-right: 1em;
      }
    }
    span {
      @include font-span();
    }
  }

  .experiencia {
    padding: 1em 0em;
    border-bottom: 1px solid #d0d0d3;
    margin-bottom: 2em;
    h2 {
      margin-bottom: 1em;
      @include font-h2();
      &::before {
        content: url(../assets/experiencia.svg);
        padding-right: 1em;
      }
    }
    span {
      @include font-span();
    }
  }
}

.role {
  font-weight: bold;
  font-size: 14px;
}

.tempo {
  font-weight: 200;
  font-size: 14px;
  color: #5c5c5c;
}

.paragrafo {
  margin-top: 0.5em;
  @include font-span();
}

.formacao {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
  .escola {
    font-weight: bold;
    font-size: 17px;
    margin-top: 1em;
  }
  .periodo {
    font-size: 15px;
    color: #5c5c5c;
  }
  h2 {
    margin-bottom: 1em;
    @include font-h2();
    &::before {
      content: url(../assets/formacao.svg);
      padding-right: 1em;
    }
  }
  span {
    @include font-span();
  }
}

.cursos {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
  h2 {
    @include font-h2();
    &::before {
      content: url(../assets/book.svg);
      padding-right: 1em;
    }
  }
  span {
    font-weight: bold;
  }
  .cursos-item {
    margin-top: 1.5em;
  }
}

.competencias {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
  h2 {
    margin-bottom: 1em;
    @include font-h2();
    &::before {
      content: url(../assets/code.svg);
      padding-right: 1em;
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .skills-item {
    padding: 1em 0em;
    display: flex;
    align-items: center;
  }

  .next {
    &::after {
      content: url(../assets/nextjs.svg);
      padding-left: 1em;
    }
  }

  .tailwind {
    &::after {
      content: url(../assets/tailwind.svg);
      padding-left: 1em;
    }
  }

  .js {
    &::after {
      content: url(../assets/js.svg);
      padding-left: 1em;
    }
  }

  .ts {
    &::after {
      content: url(../assets/typescript.svg);
      padding-left: 1em;
    }
  }

  .angular {
    &::after {
      content: url(../assets/angular.svg);
      padding-left: 1em;
    }
  }

  .git {
    margin-bottom: 1em;
    &::after {
      content: url(../assets/git.svg);
      padding-left: 1em;
    }
  }

  .html5 {
    &::after {
      content: url(../assets/html.svg);
      padding-left: 1em;
    }
  }

  .css {
    &::after {
      content: url(../assets/css3.svg);
      padding-left: 1em;
    }
  }

  .sass {
    &::after {
      content: url(../assets/sass.svg);
      padding-left: 1em;
    }
  }

  .bootstrap {
    &::after {
      content: url(../assets/bootstrap.svg);
      padding-left: 1em;
    }
  }
}

.links {
  padding: 1em 0em;
  border-bottom: 1px solid #d0d0d3;
  margin-bottom: 2em;
  h2 {
    margin-bottom: 1em;
    @include font-h2();
    &::before {
      content: url(../assets/link.svg);
      padding-right: 1em;
    }
  }
}

.icon-link {
  width: 30px;
  height: 30px;
}

.link-text {
  color: #222;
}

.link-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link-item > a {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
}
