@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-span() {
  letter-spacing: 1px;
  line-height: 1.4;
}

@mixin font-h2() {
  font-family: "Nunito", sans-serif;
}
