.name {
  padding: 2em 0em;
  background-color: #303030;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.8);
  .name-info {
    @include center;
    flex-direction: column;
    .name-content {
      max-width: fit-content;
      font-size: 3em;
      position: relative;
      display: block;
      text-transform: uppercase;
      color: #fff;
    }
    .job {
      letter-spacing: 1ch;
      margin: 0.65em 0em;
      font-weight: 400;
      color: #bbbaba;
      text-transform: uppercase;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 1em;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-family: "Nunito", sans-serif;
      }
    }
  }
}

.info {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: -2em;
  border-top: 1px solid #ffffff94;
  width: 100%;
  color: #fff;
  .contact-list {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  .contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
  }
}
